.Profilephoto {
  width: 20px;
  border-radius: 10px;
  float: right;
  margin-right: 10px;
  width: 30px;
  size: 20%;
  position: absolute;
  top: 7%;
  left: 75%;
  -ms-transform: translate(75%, 7%);
  transform: translate(75%, 7%);
}
.close {
  position: absolute;
  top: 110%;
  left: 50%;
  -ms-transform: translate(50%, 110%);
  transform: translate(50%, 110%);
}
#output {
  border-radius: 50%;
}
